$uw-primary-colour: #252525;     /* nearly black */
$uw-highlight-colour: #FCE082;   /* pale yellow */
$uw-dark-shade-colour: #757575;  /* dark grey */
$uw-light-shade-colour: #EEEEEE; /* light grey */
$link-colour: #428BCA;           /* blue; copied from library - not final */
$border-colour: #CCCCCC;         /* arbitrary grey - not final */
$button-colour: #DDDDDD;         /* arbitrary lighter grey - not final */

/* using techniques from http://alistapart.com/article/radio-controlled-web-design */

body {
  max-width: 1000px;
  margin: 20px auto;
  font-family: Open Sans, sans-serif;
  color: $uw-primary-colour;
  
  > header h1 {
    font-size: 1.25em;
    font-weight: normal;
    color: #FFFFFF;
    background: $uw-dark-shade-colour;
    margin-bottom: 0;
    padding: 1em 0.5em;
  }
}

a {
  color: $link-colour;
  text-decoration: none;

  &[href^='tel:'] {
    color: $uw-primary-colour;
  }
}

a:hover, a:focus {
  text-decoration: underline;
  
  &[href^='tel:'] {
    text-decoration: none;
  }
}

.top-stuff {
  float: right;
  text-align: right;
  
  section[role='search'], form, nav {
    display: inline;
  }
}

.site-search {
  button {
    border: none;
    margin: 0;
    padding: 0;
  }

  button:after {
    font-family: FontAwesome;
    content: '\f002';
    background: $button-colour;
    padding: 0.4em 0.8em;
  }
  
  button:hover:after, button:focus:after {
    background: $uw-highlight-colour;
  }

  input[type="search"] {
    border: 1px solid transparent;
    width: 0;
    padding: 3px 0 1px;
    -webkit-transition: width 0.3s, border 0.3s;
    transition: width 0.3s, border 0.3s;
  }

  input[type="search"]:focus {
    border: 1px solid $border-colour;
    padding: 3px 4px 1px;
    width: 200px;
  }
}

.nav-university {
  position: relative;

  label:after {
    font-family: FontAwesome;
    content: '\f0c9';
    background: $button-colour;
    padding: 0.4em 0.9em;
    cursor: pointer;
  }
  
  label:hover:after, .state:focus ~ label:after {
    background: $uw-highlight-colour;
  }

  ul {
    position: absolute;
    top: 2.0em;
    right: 0.2em;
    z-index: 1000;
    background: $button-colour;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden; /* hide so keyboard navigators can't access while collapsed; using visibility instead of display since display can't be animated */
    -webkit-transition: max-height 0.3s, visibility 0.3s;
    transition: max-height 0.3s, visibility 0.3s;
  }
  
  .state:checked ~ ul {
    visibility: visible;
    max-height: 15em; /* can't animate "height: auto", so we set a larger max-height than we will ever require (but not too large, so it doesn't take forever to close) */
  }
  
  a {
    display: block;
    padding: 6px 10px 4px;
    background-color: #EEEEEE;
    border-bottom: 1px solid $border-colour;
    white-space: nowrap;
    color: #000000;
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }
}
/* (First try CSS to go with first try HTML, preserved just in case)
.nav-university {
  position: relative;
 
  &:after {
    font-family: FontAwesome;
    content: '\f0c9';
    background: $button-colour;
    padding: 0.4em 0.9em;
  }

  ul {
    display: none;
    position: absolute;
    z-index: 1000;
    background: $button-colour;
  }

  &:focus ul {
    display: block;
    top: 0;
    right: 0;
  }
}
*/

.nav-site {
  
  ul {
    clear: both;
    background: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    a, label {
      color: #FFFFFF;
      text-decoration: none;
      padding: 10px 20px;
      display: inline-block;
      cursor: pointer;
    }

    a:hover, a:focus, label:hover, .state:focus ~ label {
      text-decoration: underline;
      outline: none;
    }

    .closer {
      display: none;
    }
 
    ul {
      background: $button-colour;
      color: #000000;
      display: none;
      text-transform: none;
      max-width: 1000px;
  
      a {
        color: #000000;
      }
    }
    
    .state:checked ~ ul {
      position: absolute;
      display: block;
    }
    
    .state:checked ~ .closer {
      display: inline;
    }

    .state.opener:checked, .state.opener:checked ~ label {
      display: none;
    }
  }

  li {
    display: inline;
  }
}

header h1 {
  text-align: center;
  text-transform: uppercase;
}

main {
  header {
    text-align: center;
    text-transform: uppercase;

    p {
      margin-bottom: 0.5em;
      font-size: 0.9em;
    }

    a {
      text-decoration: none;
    }

    a:hover, a:focus {
      text-decoration: underline;
    }

    h1 {
      margin-top: 0;
    }
  }

  section {
    margin: 10px 0;
    padding: 9px;
    overflow: auto;
    border: 1px dashed $border-colour;  /*to show that it takes space; remove once there is content*/
    height: 200px; /*to show that it takes space; remove once there is content*/
  }
}

.footer-local {
  border: 1px solid $border-colour;
  border-bottom: none;
  padding: 9px;
  overflow: auto;
  font-size: 0.8em;
}

.footer-global {
  @extend .footer-local;
  border-bottom: 1px solid $border-colour;
  
  .col {
    float: left;
    width: 180px;
    padding-left: 10px;
  }

  .col:first-child {
    padding-left: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .login {
    clear: both;
    float: right;
  }
}

/*
 * Use the following CSS to prevent Skype from formatting the numbers on your page:
 */

span.skype_pnh_container {
    display: none !important;
}

span.skype_pnh_print_container {
    display: inline !important;
}

/* Android 2.3 :checked fix */

@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opactity: 1
  }
}

body {        
  animation: fake 1s infinite;
}

/* Load Open Sans font */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
